//TODO 6 Homepage styling
.page-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }
  .store-trend-categories {
    margin-top: 30px;
  }
  .store-trend-product {
    margin-top: 10px;
  }
}

  